<aside class="sidebar">
    <div class="logo">
        <h2>Academy</h2>
    </div>
    <nav>
        <ul>
            <li><a href="/sistema/academy/meu-aprendizado">Meu Aprendizado</a></li>
            <li><a href="/sistema/academy/catalogo-cursos">Catálogo de Cursos</a></li>
            <li><a href="/sistema/academy/meus-certificados">Meus Certificados</a></li>
            <li><a href="/sistema/academy/configuracoes">Configurações</a></li>
        </ul>
    </nav>
</aside>
