<aside class="sidebar">
    <div class="logo">
        <a href="/">ACADEMY</a>
    </div>
    <nav>
        <ul>
            <li><a href="/sistema/academy-admin/dashboard">Dashboard</a></li>
            <li><a href="/sistema/academy-admin/cursos">Cursos</a></li>
            <li><a href="/sistema/academy-admin/novo-curso">Novo Curso</a></li>
            <li><a href="/sistema/academy-admin/ganhos">Ganhos</a></li>
            <li><a href="/sistema/academy-admin/relatorios">Relatórios</a></li>
            <li><a href="/sistema/academy-admin/configuracoes">Configurações</a></li>
        </ul>
    </nav>
</aside>
