---
import AdminLayout from '@layouts/AdminLayout.astro';
import Chart from '@components/academy-admin/dashboard/Chart.astro';
import RecentActivities from '@components/academy-admin/dashboard/RecentActivities.astro';


<AdminLayout title="Admin Dashboard - Academy">
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
    <div class="lg:col-span-2">
      <Chart />
    </div>
    <div>
      <RecentActivities />
    </div>
  </div>
</AdminLayout>
