---
import StudentLayout from 'src/layouts/StudentLayout.astro';
import SettingsForm from 'src/components/academy/student/SettingsForm.astro';
---

<StudentLayout>
  <h1 class="text-3xl font-bold mb-6">Configurações</h1>
  <SettingsForm />
</StudentLayout>
