---
import AcademyLayout from 'src/layouts/AcademyLayout.astro';
import CourseCard from 'src/components/academy/CourseCard.astro';
---

<AcademyLayout>
  <h1 class="text-3xl font-bold mb-6">Cursos</h1>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <CourseCard />
    <CourseCard />
    <CourseCard />
  </div>
</AcademyLayout>
