---
import AcademyLayout from 'src/layouts/AcademyLayout.astro';
import SupportForm from 'src/components/academy/SupportForm.astro';
---

<AcademyLayout>
  <h1 class="text-3xl font-bold mb-6">Suporte</h1>
  <SupportForm />
</AcademyLayout>
