@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input-dark {
        @apply bg-white/5 border border-white/10 text-white placeholder:text-slate-500 rounded-xl focus:border-accent focus:ring-2 focus:ring-accent/20 transition-all duration-300 py-3 px-4;
    }
    .form-label {
        @apply block text-xs font-bold text-slate-400 uppercase tracking-widest mb-3;
    }
}
