---
import HORIZONSystemLayout from "@layouts/HORIZONSystemLayout.astro";
---

<HORIZONSystemLayout>
    <div class="text-white">
        <h1 class="text-2xl font-bold">Página de Relatórios</h1>
        <p class="mt-4">Em breve, aqui você encontrará relatórios detalhados sobre as atividades do sistema.</p>
    </div>
</HORIZONSystemLayout>
