---
interface Props {
	headers: string[];
	data: Record<string, any>[];
}

const { headers, data } = Astro.props;
---

<div class="overflow-x-auto">
  <table class="min-w-full divide-y divide-gray-200">
    <thead class="bg-gray-50">
      <tr>
        {headers.map(header => (
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
            {header}
          </th>
        ))}
      </tr>
    </thead>
    <tbody class="bg-white divide-y divide-gray-200">
      {data.map(row => (
        <tr>
          {Object.values(row).map(cell => (
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
              {cell}
            </td>
          ))}
        </tr>
      ))}
    </tbody>
  </table>
</div>
