---

--import Sidebar from '@components/academy/student/StudentSidebar.astro';
import Header from '@components/academy/student/StudentHeader.astro';

<div class="academy-student-layout">
    <Sidebar />
    <div class="main-content">
        <Header />
        <main>
            <slot />
        </main>
    </div>
</div>
